@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(../src/proxima.otf) format('truetype');
}

    
    
    /* alka-css */
    .custom_ha{background-color: #d7f4f7;padding-top: 5px;}
   
/* Header css */


/* .custom-navbar{box-shadow: 10px 10px 10px #eee; z-index:9;background-color: #fff;} */
/* .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
} */


.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler .fa-bars{color:#06DF86;}
a:hover{text-decoration: none;}
.fixed-top{box-shadow: 0 0 6px rgba(0,0,0,.16);background-color: #fff;}
  .logo_size img{height: 40px; width: 100px;float: left;}
    .download{background-color: #01d35a;border-radius: 44px;color: #fff !important;box-shadow: 0px 3px 6px #00000029;padding:6px 18px 8px 18px;margin-right: 10px;font-size: 14px;}
    .download:hover{color:#fff;}
  .login{border-radius: 44px;background:#fff;box-shadow: 0px 3px 6px #00000029;padding: 4px 18px 5px 18px !important;color:#7d7777dd !important;margin-right: 10px;font-size: 14px;}
  .login:hover {
    color: #fff!important;
    background: #01D35A;border: 1px solid #01D35A
}
  .Three_butn {
    padding-left: 10px;
}

.hme{color:#474747;margin-top: 9%;font-weight: 400;padding-left: 33px;cursor: pointer;}
.plo{color:#06DF86;}
.plo:hover{color:#06DF86;}
/* banner-part-start */
.mobile_banner{display: none;}



/* banner-part-end */
/* @media only screen and (max-width: 760px) { #logo_custom{width: 40%;}} */
                          

.video_sec {text-align: center;}
.video_sec iframe{width: 640px;
    height: 345px;
    border: 8px solid #fff;-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.network_marg{margin-top: 0;}
.map_sec {
    margin-top: 20px;
    margin-bottom: 50px;
}
.number_of_app {
    margin-top: 25px;display: flex;
}

.space_text{color: #9C9C9C;
    opacity: 1;font-size: 15px;}
.utility_network{color: #1E1E1E;
    opacity: 1;font-size: 30px;}
.Unique_avail{color: #9C9C9C;
    margin-bottom: 0px;
    opacity: 1;
    font-size: 18px;
    width: 600px;
    text-align: center;
    margin: 0 auto;}
.Explore_more{
    background: #01D35A;
    border-radius: 34px;
    color: #fff !important;
    padding: 10px 40px;
    margin-bottom: 30px;
    text-decoration: none !important;
    display: inline-block;
}
.explore_more:hover {
    text-decoration:none !important;
}
    .Explore_more:hover{color:#fff;}
.map_dir {
    padding-left: 0px;
}
.nego h2{color:#1E1E1E;font-weight: bold;padding-left: 45px;}
.nego {
    margin-top: 25%;
}
.search-query{border-radius: 60px;height: 55px;font-size: 18px;
    width: 405px;
    margin-top: 30px;}
    .quer_bar{position: relative;margin-left: 25px;}
    
    .search_box {
        position: absolute;
        top: 13px;
        right: 30px;
    }
    /* video-section */
    .video_sec video{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
     /* video-section -end*/
     .refund_pay {
        margin-bottom: 30px;
    }
.mobile_app{background: #EFFCF4;width: 100%;height: 575px;}
.first_fone{width:200px;margin-top: 37px;}
.second_fone{width:200px;position: absolute;top: 86px;
    left: 141px;}
.connsultin_im{position: relative;margin-top: 30px;}
.book_madical{margin-top: 20%;}
.book_madical p{color: #4E4E4E;opacity: 1;font-weight: 500;}
.book_madical h4{color: #000000;margin-bottom: 50px;
    font-size: 30px;}
.get_link{color:#4E4E4E;}
.get_link:hover{color:#4E4E4E ;}
.cntry_cde{
    
    border-radius: 34px;box-shadow: 0px 3px 6px #00000029;border: 0px;width: 55px;background: #fff;
   padding:  9px 5px 5px 15px;font-size: 14px;color:#4E4E4E;
}
.cntry_cde:focus {
    outline:none;
}
.country_nu:focus{
    outline:none;
}
.play_store{margin-top: 50px;}
.download-play{width: 130px;
    height: 40px;margin-right: 20px;}
.download-play2{width: 130px;
    height: 40px;}
.country_nu{border: 0px;border-radius: 34px;box-shadow: 0px 3px 6px #00000029;font-size: 14px;
    width: 300px;padding: 6px 15px 8px 33px; margin-left: 10px;}
.explore_field{background: #01D35A;color:#FFFFFF !important;box-shadow: 0px 3px 6px #00000029;border-radius: 34px;padding: 9px 10px 9px 20px;font-size: 13px;
    display: block;
    width: 150px;margin-left: 75px;}
.explore_field:hover{
    text-decoration: none;
}
.explore_field:hover{color:#fff;}



/* why_plunes -start*/
.why_plunes{margin-top: 70px;}
.plunes_brd{position: relative;margin-bottom: 30px;}
.black_bordr {
    border: 0;
    border-top: 3px solid #000;
    width: 114px;
    position: absolute;
    top: -36px;
}
.plunes_brd h2{margin-top: 20px;color: #1E1E1E;margin-bottom: 25px !important;font-size: 30px;}

.refund_im img {
    width: 50%;
    height: 115px;
    object-fit: contain;
   
}
.refund_pay h2{color: #1E1E1E;
   opacity: 1;font-size: 17px;
    margin-top: 32px;}
.margin_icn{margin-top: 0px;}
.we_hsection img{width: 200px;
    height: 100px;}
    .we_content h2{text-align: left;color: #000000;padding-left: 40%;font-size: 30px;
    }

.we_content {
    padding-top: 30px;
}
/* alka.css */
h4.downlod_app {
    width: 250px;
}

/*<!-- slider-section-start --> */
.covid_mar{margin-left: 60px;}
.bg_sect_pro{background: #FBFBFB;margin-top: 40px; position: relative;margin-bottom: 100px;}
.kno_more h3{padding-top: 55px;padding-bottom: 60px;font-size: 30px;}
.Procedure_search{text-align: center; margin: 0 auto;box-shadow: 0px 3px 6px #00000029;border: 0px;margin-bottom: 45px;}
.owl-theme .owl-dots .owl-dot span{display: none;}
.bg_sect_pro .owl-nav button span {
    background: #fff;
    background-repeat: no-repeat;
    height: 55px;
    width: 55px;
    display: block;
    font-size: 60px;
    margin: 0 5px 0;
    padding: 19px 13px 18px 14px;;
    text-align: center;
    align-items: center;
    line-height: 0px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: hsl(0, 0%, 100%);
    color: #888888;
    border: 1px solid #B9B9B9;
   border-radius: 34px;
}
.bg_sect_pro .owl-nav button.owl-prev {
    position: absolute;
    top: 98px;
    margin: 0;
    left: -67px;
}
.bg_sect_pro .owl-nav button.owl-next {
    position: absolute;
    top: 98px;
    right: -100px;
    margin: 0;
}
button:focus {
    outline: 1px dotted;
    outline: 0px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    color: #000 !important;
    text-decoration: none;}

    h2.card_den {
        font-size: 22px;
        color: #000;
    }
    .card_tooth {
        font-size: 15px;
        color: #9C9C9C;
        padding-top: 13px;
    }
.video_fone{width:750px;}

h2.card-title2 {
    font-size: 22px;
}
a:hover {
    color: #3B3B3B;
    text-decoration: none !important;
}
p.card-text2 {
    font-size: 15px;
    color: #9C9C9C;
    padding-top: 0px;
}
.card_a{text-decoration: underline;color: #3B3B3B;font-size: 14px;margin-bottom: 5px;}
.card_a:hover{color:#3B3B3B ;}

/* end-section */
/* we -have section */


.we_content p{color: #1E1E1E;text-align: left;font-weight: 500;padding-left: 41%; font-size: 15px;}
.we_content {
    padding-top: 30px;
}

 /* footer */
 .footer-padding {
    margin-top: 57px;
    padding-top: 60px;
    background-color: #1D3861;
}
.logo-img-sizeing, .responsive-logo {
    height: 52px;
    width: 130px;
}
.footerfont {
    font-size: 12px;
    color: #fff;
    opacity: 0.7;
}
.ftr3 {
    margin-left: 3px;
    margin-top: 40px;
    margin-bottom: 5px;
}
.follow-us-at {
    display: inline-block;padding-left: 0;
}
.footerele {
    font-size: 13px;
    margin-top: 14px;padding-left: 0;
}
.footer ul li{list-style: none;}
.footerele a{color: #FFFFFF !important;opacity: 0.7;}
.procedure-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: -13px;
    color: #fff;
    opacity: 0.7;
}
.new-footer-ele2 {
    padding-left: 44px;
}
.follow-us-at img{width:38px;}
.ftr_pd{padding-left: 30px;}
._brdr_bt {
    position: relative;
    top: 41px;
}
.footerlast {font-size: 20px;}
.card{    background-color: transparent !important;}
.card_a{text-decoration: underline;color: #3B3B3B;font-size: 14px;}
.aero_pre{width: 30px;height: 30px;}
.giphi_sec{display: none;}
.card-body {
    text-align: center;
}
p.covidPara {
    margin-bottom: 9px;
}
.covidInfo1 {margin-bottom: 15px;
}
/* mobile-css-start */
@media screen and (device-aspect-ratio: 40/71) {

    .human_mu img {
        width: 130px !important;
        position: relative;
        left: -10px !important;
    }
}
@media (max-width: 767px) and (min-width: 281px) {
    /* header */
.back_color_mo{background: transparent;text-align: center;}
     /* header-end*/
    /* mobile-section-banner */
    .covid_bnr{display: none;}
    h1.ava_mobile {
        font-size: 14px;
        font-weight: 600;
        color: #0B5E58;padding-bottom: 6px;
    }
    .col-sm-6.col-7.cvd_cont {
        padding-left: 20px;
    }
    .book_cvd{color: #fff;background: #0B5E58;border-radius: 34px;font-size: 10px;
        padding: 4px 14px 4px 13px;position: relative;top:-7px;}
    .covis_upto {
        font-size: 9px;
        line-height: 2px;
        color: #0B5E58;
        margin-bottom: 13px;
    }
    .mobile_banner{display: block;padding-top: 40px;padding-top: 30px;height: auto;}
  .human_mu img{width: 149px;
    position: relative;
    left: -27px;}
  .col-5.col-sm-6.human_mu {
    padding-left: 0px;
    padding-top: 25px;
}
    .mobile_banner{background: #d7f4f7;}

     /* mobile-section-banner-end */
     h2.card-title2 {
        font-size: 20px;
        font-weight: 600;
    }
    .card_a {font-size: 14px;
        position: relative;
        top: -18px;}
    .bg_sect_pro {margin-top: 10px;margin-bottom: 28px;
        height: 496px;}
    .aero_pre{width: 20px;height: 20px;}
    .col-sm-6.col-9.col-lg-6.covid_mar {
        padding-left: 0px;
    }
    .video_fone{width:100%;}
    .covid_mar{margin-left: 0px;}
    .kno_more h3 {font-size: 22px;padding-top: 35px;
        padding-bottom: 40px;
    }
    .logo_size img {
        height: 26px;
        width: 72px;
        margin-left: 45px;
    }
    .number_of_app {
       display:flex;
       margin-top:14px;
    }
    .card-align{width: 100%;}
    .cntry_cde {font-size: 13px;margin-left: 30px;padding: 6px 5px 5px 15px;}
     .country_nu {    width: 100%;
        padding: 6px 8px 8px 16px;
        font-size: 12px;}
       
        h4.downlod_app {
            width: 100%;
        }
       .col-lg-7.col-12.besic_mo {
        text-align: center;
    }
        .book_madical.p{margin-left: 0 !important;}
    .video_sec iframe{width: 100% !important;height: auto !important;}
    .network_marg {
        margin-top: 0% !important;
    }
 .Three_butn { padding-left: 10px;padding-top: 13px;
  padding-bottom: 10px;}
.login {padding: 4px 8px !important;font-size: 12px !important;
}
.why_plunes{text-align: center;}
    .mobile_hs
    .search-query{width: 100%;}
   
    .explore_field{padding: 6px 10px 7px 14px;width: 40% !important;margin: 0 auto; font-size: 12px;text-align: center;margin-top: 20px;display: inline-block;}
    .connsultin_im img {
        width:100px;
    }
    .connsultin_im {
        text-align: center;
        margin-top: 0px;
    margin-bottom: 20px;
    }
    .first_fone {
        margin-right: 90px;
    }
    .second_fone{top: 56px;
        left: 150px;}
    .mobile_app {height: 100%;
        padding-bottom: 30px;}
  
    .utility_network{line-height: 24px;
        font-size: 20px;
        font-weight: 700;
        width: 230px;
        text-align: center;
        margin: 0 auto;padding-top: 20px;
        padding-bottom: 13px;}
.Unique_avail {font-size: 12px;width: 263px;}
.book_madical p{font-size: 12px; text-align: center;}
.book_madical {
    margin-top: 10%;
}
.book_madical h4 {
    font-size: 23px;margin-bottom: 17px;font-weight: 600; text-align: center;}
    .map_sec {
        margin-bottom: 25px;
        margin-top: 11px;
    }
    .get_link {font-size: 13px;}
.plunes_brd h2 {font-size: 20px;margin-bottom: 0px;}
.black_bordr{width: 28%;position: relative;top: 11px;}
.we_content h2{padding-left: 0%;font-size: 17px;
    text-align: center;font-weight: 600;}
    .we_content {
        padding-top: 15px;
    }
    .we_content p{padding-left: 0;text-align: center;font-size: 12px;}
    .main-content .owl-theme .custom-nav .owl-prev{left: 14px !important;}
    .main-content .owl-theme .custom-nav .owl-next{width:50px !important;}
    .we_hsection img {
        width: 100%;
        height: 83px;
    }


.position_mobile{position: relative;}
    .ftr_pd{padding-left: 0px;}
    .new-footer-ele2 {
        padding-left: 0px;
    }
    .plunes_brd {
        margin-bottom: 0px;
        text-align: center;
    }
    .refund_im img {
        width: 100%;
        height: 60px;}
        .mobile_re{margin-top: 0px;}
        .refund_pay h2{font-size: 11px;}
       
            .main-content .owl-theme .custom-nav .owl-next {
                right: 11px !important;}
                p.card-text2 {padding-top: 0px;
                }
    .download-play {
        width: 99px;height: 39px; object-fit: contain;}
        .download-play2 { width: 97px;height: 39px; object-fit: contain;}
        .play_store {
            text-align: center;
            margin-top: 30px;
        }
    .refund_pay{margin-bottom: 0px;
        position: relative;
        top: -25px;}
        /* slider-section */
        .bg_sect_pro .owl-nav button.owl-next{right: -13px;top: 60px;}
        .bg_sect_pro .owl-nav button.owl-prev{left: -16px;top: 60px;}
        .bg_sect_pro .owl-nav button span{height: 40px;
            width: 41px;font-size: 46px;padding: 14px 13px 18px 14px;}
            .bg_sect_pro .owl-nav button span{margin: 0px 9px 0;
                display: inline-block;}
                .trendingBox img{padding: 0px 60px 0px 77px;
                }
        /* footer-section */
        .giphi_sec {
            float: right;
            padding-right: 0px;
        }
        .up_down {
            position: relative;
            top: -57px;
            right:30px;
        }
        .giphi_sec img{width:25px;}
        .onnsultin_im{
            text-align: center;
        }
        .fiveth_part {
            width: 50% !important;
        }
        .fourth_part {
       width: 50% !important;
        }
        .six_part{width: 59% !important;}
        .saventh_part{width: 50% !important;position: relative;
            top: -19px;}
        .six-2 {
            display: flex;
        }
        /* .deskTop_fro{display: none !important;}
        .mobile_futrt_sec{display: block !important;} */
     .one_sec{width: 55% !important;}
     .two_sec {
        width: 55% !important;
    }
    .four_sec {
        width: 53% !important;
    }
    .five_sec {
        width: 45% !important;
        top: -144px;
        position: relative;
        left: -44px;
    }
    .giphi_sec{display: block;}
    .logo_fto {
        padding-left: 0px !important;
    }
    .foter_colour_section {padding-top: 25px !important;margin-top: 30px !important;}
  
}
/* end-media-query */
/* laptop_media-query */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .video_sec iframe {
        width: 470px;
        height: 222px;
    }
    .covid_bnr{display: block;}
    .covidInfo1{font-size: 20px !important;margin-top: 10px !important;}
    .covidPara{margin-bottom: 0;}
    .covid_mar {
        margin-left: 45px;
    }
    .covidTest{font-size: 11px !important;
        padding: 6px 27px 8px 26px;
        margin-top: 0px;
        display: inline-block !important;}
    .covid {
        font-size: 12px !important;}
      
    .drp_part{text-align: center;}
    .CovidContent{height: 254px !important;}
    .utility_network {font-size: 25px;}
    .Unique_avail {font-size: 16px;}
    .first_fone {
        width: 150px;}
        .second_fone {
            width: 150px;left: 116px;}
    .explore_field {width: 120px;
        text-align: center;margin-left: 12px;}
        .bg_sect_pro .owl-nav button.owl-next{    right: -33px;}
        .bg_sect_pro .owl-nav button.owl-prev{left: 0;}
        .country_nu{width: 162px;}
        .cntry_cde{text-align: center;}
        .main-content .owl-theme .custom-nav .owl-prev {
            left: 15px !important;}
            .main-content .owl-theme .custom-nav .owl-next{right:17px !important;}
            .we_content h2{font-size: 23px;}

            .new-footer-ele2 {
                padding-left: 0px !important;
            }

}


/* laptop_media-query-end */
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

/* .mobile_futrt_sec{display: none !important;} */

.foter_colour_section {
    margin-top: 57px;
    padding-top: 60px;
    background-color: #1D3861;
}
.footerlast {
    font-size: 14px !important;
    color: #505050;
}
